/* body {
    background-color: #f4f1de;
    margin: 0;
    display: flex;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;

}

#main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;


}

nav {
    background-color: #e07a5f;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-style: solid;
    border-width: 2px;
    border-color:  #3d405b;
    border-radius: 30px;
    height: 2em;
    max-width: 800px;
    width: 70%;
    
    margin-top: 1em;
}

#topnav {
    font-size: 1.2em;
    font-weight: bold;
}

a {
    text-decoration: solid;
    color: black;
}

h2 {
    border-top-style: solid;
    border-top-width: 1em;
    border-top: #3d405b;
}

a:hover {
    color: #f4f1de;
}

p {
    max-width: 60%;
    text-align: justify;
} */